<% layout("/layouts/boilerplate") %>

<!-- <script>
    // Mapbox token OPTIONAL (local-safe)
    const mapToken = "<%= process.env.MAP_TOKEN ? process.env.MAP_TOKEN : '' %>";
    const listing = <%- JSON.stringify(listing) %>;
</script> -->


<body>
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">

            <div class="mt-3">
                <h3 class="listing-title">
                    <%= listing.title %>
                </h3>
            </div>

            <div class="card show-card listing-card">
                <img src="<%= listing.image.url %>" 
                     class="card-img-top show-img" 
                     alt="listing-img">

                <div class="listing-card-body mt-3">

                    <p class="listing-card-text">
                        <b>Hosted By: </b>
                        <i>
                            <%= listing.owner && listing.owner.username 
                                ? listing.owner.username 
                                : "Unknown Host" %>
                        </i>
                    </p>

                    <p class="listing-card-text">
                        <b>Description: </b>
                        <%= listing.description %>
                    </p>

                    <p class="listing-card-text">
                        <b>Cost: </b>
                        &#8377;
                        <%= listing.price != null 
                            ? listing.price.toLocaleString("en-IN") 
                            : "N/A" %>
                    </p>

                    <p class="listing-card-text">
                        <b>Category: </b>
                        <%= listing.category %>
                    </p>

                    <p class="listing-card-text">
                        <b>Location:&nbsp;&nbsp;</b>
                        <i class="fa-solid fa-location-dot">&nbsp;</i>
                        <%= listing.location %>
                    </p>

                    <p class="listing-card-text">
                        <b>Country:&nbsp;&nbsp;</b>
                        <i class="fa-solid fa-globe">&nbsp;</i>
                        <%= listing.country %>
                    </p>
                </div>
            </div>

            <div class="show-btns d-flex justify-content-center gap-3 mt-3">
                <form action="/listings/<%= listing._id %>/reservelisting" method="GET">
                    <button class="btn btn-success reserve-btn">Reserve</button>
                </form>
            </div>
<% if (currUser) { %>

                <div class="show-btns d-flex justify-content-center gap-3 mt-3">
                    <a href="/listings/<%= listing._id %>/edit" 
                       class="btn btn-danger">
                        Edit this Listing
                    </a>
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-dark">
                            Delete this Listing
                        </button>
                    </form>
                </div>
            <% } %>

            <!-- Review Form -->
            <% if (currUser) { %>
                <div class="col-6 offset-3"><hr></div>

                <div class="mt-3">
                    <h4>Leave a Review</h4>

                    <form class="mt-3 needs-validation" novalidate
                          action="/listings/<%= listing._id %>/reviews" method="POST">

                        <div class="mt-3">
                            <label class="form-label">Rating</label>
                            <fieldset class="starability-slot">
                                <input type="radio" class="input-no-rate" 
                                       name="review[rating]" value="1" checked />
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" id="rate<%= i %>" 
                                           name="review[rating]" value="<%= i %>" />
                                    <label for="rate<%= i %>"><%= i %> star</label>
                                <% } %>
                            </fieldset>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Comments</label>
                            <textarea class="form-control" 
                                      name="review[comment]" 
                                      rows="5" required></textarea>
                            <div class="invalid-feedback">
                                Please add some comments
                            </div>
                        </div>

                        <div class="show-btns d-flex justify-content-center">
                            <button class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
            <% } %>

            <!-- Reviews -->
            <div class="col-6 offset-3"><hr></div>

            <% if (listing.reviews && listing.reviews.length > 0) { %>
                <div class="mt-3">
                    <h4>All Reviews</h4>

                    <div class="row">
                        <% for (let review of listing.reviews) { %>
                            <div class="col-md-6 d-flex mt-3">
                                <div class="card flex-grow-1">
                                    <div class="card-body d-flex flex-column justify-content-between">

                                        <div>
                                            <h5>
                                                <i class="fa-solid fa-circle-user"></i>
                                                <i>
                                                    <%= review.author && review.author.username
                                                        ? review.author.username
                                                        : "Anonymous" %>
                                                </i>
                                            </h5>

                                            <p class="starability-result"
                                               data-rating="<%= review.rating %>"></p>

                                            <p><%= review.comment %></p>
                                        </div>

                                        <% if (currUser && review.author && currUser._id.equals(review.author._id)) { %>
                                            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                  method="POST">
                                                <button class="btn btn-sm btn-danger mt-2">
                                                    Delete
                                                </button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <div class="col-6 offset-3"><hr></div>
            
            <!-- Map
            <div class="mt-3 mb-3">
                <h4>Where you'll be</h4>
                <div id="map"></div>
            </div> -->

        </div>
    </div>

    <!-- <script src="/js/map.js"></script> -->
</body>
